* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    width: 100%;
    height: 100%;
     
    display: grid;
    grid-template-rows: 2fr 15fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.header {
    grid-area: header;

    background-color: #333334;

    box-shadow: 0 10px 20px black;
    z-index: 999;
}

.main {
    grid-area: main;

    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.footer {
    grid-area: footer;

    background-color: #333334;
}
